<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
  <div class="container pr-0">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMediumish">
      <ul class="navbar-nav ml-auto">
        {% if page.url == "/" %}
        <li class="nav-item active">
          {% else %}
        <li class="nav-item">
          {% endif %}
          <a href="{{ site.baseurl }}/index.html" class="nav-link" lang="en">Home</a>
        </li>

        <li class="nav-item">
          <a href="{{ site.baseurl }}/about" class="nav-link">Sobre</a>
        </li>

        <li class="nav-item">
          <a href="{{ site.baseurl }}/contact" class="nav-link">Contato</a>
        </li>

        <li class="nav-item">
          <a href="{{ site.baseurl }}/accessibility" class="nav-link">Acessibilidade</a>
        </li>

        <li class="nav-item">
          <a href="{{ site.baseurl }}/policy-privacy" class="nav-link">Política de Privacidade</a>
        </li>

        <li class="nav-item">
          <a href="https://instagram.com/oensaiospoeticos" target="_blank" rel="noopener noreferrer" class="nav-link">
            <span class="sr-only">Instagram (abre em uma nova aba do navegador)</span>
            <span class="fab fa-instagram" aria-hidden="true"></span>
          </a>
        </li>

        <li class="nav-item">
          <a href="https://facebook.com/EnsaiosPoeticos" target="_blank" rel="noopener noreferrer" class="nav-link">
            <span class="sr-only">Facebook (abre em uma nova aba do navegador)</span>
            <span class="fab fa-facebook" aria-hidden="true"></span>
          </a>
        </li>

        <li class="nav-item">
          <a href="https://twitter.com/oensaiospoetico" target="_blank" rel="noopener noreferrer" class="nav-link">
            <span class="sr-only">Twitter (abre em uma nova aba do navegador)</span>
            <span class="fab fa-twitter" aria-hidden="true"></span>
          </a>
        </li>

        <li class="nav-item">
          <a href="https://medium.com/@ensaiospoeticos" target="_blank" rel="noopener noreferrer" class="nav-link">
            <span class="sr-only">Medium (abre em uma nova aba do navegador)</span>
            <span class="fab fa-medium" aria-hidden="true"></span>
          </a>
        </li>
        {% include search-lunr.html %}
      </ul>
    </div>
  </div>
</nav>